.image_artist{
    width: 300px;
    padding: 30px;
    font-size: small;

}

.info_artist{
border: 2px solid black;
margin-bottom: 10px;
}

h3{
    padding-left: 200px;
    margin-left: 110px;
    font: small-caps bold 24px/1 sans-serif;
    color: black
}

h1{
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 30px;
    font-family: OCR A Std, monospace 

}

p{
    font-family: cursive;
    padding-left: 30px;
}